* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    color: #000000;
}

header {
    background-image: url("../image/background.png");
    background-size: cover;
}

/*NAVBAR START*/

.navbar-nav {
    flex-direction: column;
    width: 100%;
}

ul {
    padding-left: 0px;
    padding: 1rem 0px;
}

ul li {
    list-style-type: none;
}

a,
.footer-desc p,
li.list-name {
    text-decoration: none;
    color: #ffffff;
}

li.nav-item {
    list-style: none;
    padding: 5px 0px;
    color: #000000;
    font-size: 13px;
    flex-basis: 25%;
}

li.nav-item a {
    text-decoration: none;
    color: #000000;
}

.bg-blur {
    background: rgba(230, 230, 230, 0.26);
}

.top-nav {
    margin: 0px 150px;
}

.icon-nav {
    flex-basis: 15%;
    justify-content: space-evenly;
}

.nav-link{
    text-align: center;
}

.nav-link:hover, .nav-link.active{
    color: #ffae5d !important;
    font-weight: bold;
}

.nav-link.active{
    border-bottom: 1px solid #ffae5d;
    width: 65%;
}

.main-nav .nav-item a,
.icon-nav a {
    color: #ffffff;
    font-size: 14px;
}

.collapse.navbar-collapse {
    justify-content: space-evenly;
}
/*END NAVBAR*/

/*FOOTER START*/
footer {
    width: 100%;
    bottom: 0;
    left: 0;
}
footer .container {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.footer-desc .logo-area {
    align-items: center;
    margin-bottom: 2.5rem;
}

.logo-area .logo-name {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

.footer-desc .desc-area {
    max-width: 320px;
}

.footer-desc .desc-area.logo {
    padding-top: 5rem;
}

.desc-area p {
    font-size: 13px;
}

.copyright span {
    color: #ffffff;
    font-size: 12px;
}

.contacts-area {
    padding: 0px;
}

.contacts-area li a {
    font-size: 12px;
}

/*END FOOOTER*/

/*START STYLING MARKETPLACE*/
.side-nav {
    background: #fafafa;
    flex-basis: 30%;
}

.nav-item label {
    margin-left: 5px;
}

.card {
    background: rgba(230, 230, 230, 0.26);
    margin: 10px;
    border: 0.5px solid #898989;
    border-radius: 8px;
    flex-basis: 22%;
}

.card-body {
    background: #ffffff;
    color: #1f1f1f;
}

.card-body h5,
.detail-content h5,
th {
    font-weight: bold;
    font-size: 14px;
}

.card-body p {
    font-weight: normal;
}

.card-img-top {
    width: 80%;
    height: 180px;
    margin: 10px 0px;
}

.btn {
    background: #ffae5d;
    color: #ffffff;
    border: none;
    font-size: 12px;
    padding: 10px 15px;
}

.form-control {
    width: 40%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.form-control::placeholder {
    color: #898989;
    font-size: 12px;
}

.btn-grup .btn {
    margin: 0px 5px;
}

.tokopedia {
    background: #25a32d;
}

.detail-content p {
    font-size: 13px;
}

.side-nav .nav-item.active a {
    color: #ffae5d;
    font-weight: bold;
}
/*END STYLING MARKETPLACE*/

/*START STYLING KERANJANG*/
.section-title.komponen {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-title.komponen h3 {
    color: #404040;
    margin: 0px 20px;
    font-weight: bold;
}

tr.heading-table th {
    color: #26293b;
    font-weight: 400;
    padding: 15px 0px !important;
}

.nama-komponen {
    font-size: 12px;
    color: #191b2a;
    font-weight: bold;
    padding-left: 20px;
}

tbody th td {
    padding: 1.5rem 0px;
}

td.komponen {
    padding: 0px;
}

th.category {
    color: #2c87c3;
    font-weight: bold;
}

.btn.add {
    background: #2c87c3;
    padding: 10px 40px;
}
/*END STYLING KERANJANG*/

/*START STYLE VIEW ALL*/
.btn.view {
    padding: 10px 40px;
}

.card-body h5 {
    height: 30px;
}

/*END STYLE VIEW ALL*/

/*START DETAIL KOMPONEN*/
/* Style the images inside the grid */

.column-img {
    background: rgba(230, 230, 230, 0.26);
    margin: 0px 10px;
}

.column-img img {
    opacity: 0.9;
    cursor: pointer;
    width: auto;
    width: 75%;
}

#expandedImg {
    margin: 0px 7rem;
}

.column-img img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row-gallery:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-gallery {
    position: relative;
    background: rgba(230, 230, 230, 0.26);
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    right: 15px;
    color: #000000;
    font-size: 35px;
    cursor: pointer;
}
/*END DETAIL KOMPONEN*/
